<html>

<head>
  <title>ROSDS Connector</title>

  <!-- Script -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</head>

<body>
  <div id="app" v-show="!loading" class="text-center">
    <h3 class="text-center"><u>{{ title }}</u></h3>
    <br>
    <img src="./images/rosds.png" width="250" />

    <!-- Form -->
    <div class="row mt-3">
      <div class="col-md-4 offset-md-4">
        <form action="" class="form text-center">
          <div class="form-group">
            <label for="">Device name</label>
            <input type="text" class="form-control" placeholder="e.g: MyRobot" v-model="device_name" :readonly="status">
            <small class="form-text text-muted">The desired name for your robot device</small>
          </div>
          <div class="form-group text-center">
            <button v-show="!status" class="btn btn-primary" @click.prevent="turnOn">Turn On</button>
            <button v-show="status" class="btn btn-secondary" @click.prevent="turnOff">Turn Off</button>
            <br><br>
            <small class="bg-warning" v-show="status_old">This connection may be old!
              In case you want to use ROS standalone, just turn it off</small>
          </div>
        </form>
      </div>
    </div>

    <!-- Status -->
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4 text-center" style="border:1px solid #333">

        <h3 class="">Status</h3>

        <p>
          Connection:
          <span class="text-center" :class="{'text-secondary': !status}">{{ status_text }}</span>
          <span v-if="(lastPing != null) && (status)" :style="latencyStyle">({{ lastPing }} ms)</span>
          <span v-else class="text-muted">(No communication)</span>
        </p>

        <p>Device name: <span class="font-weight-bold">{{ device_name }}</span></p>

        <p style="word-break:break-all">
          Robot URL:
          <br>
          <a v-if="status" :href="robot_url" @click.prevent="">{{ robot_url }}</a>
          <span v-else="" class="text-muted">{{ robot_url_text }}</span>
        </p>

      </div>
      <div class="col-md-4 offset-md-4 text-center mt-3">
        <a href="http://www.theconstructsim.com" target="_blank">Provided by TheConstructSim</a>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="javascripts/app.js"></script>
</body>

</html>